@page
@model StripePlanSubscriptions.Pages.Stripe.CancelModel
@{
    ViewData["Title"] = "Cancel";
}

<div class="jumbotron text-xs-center">
    <h1 class="display-3">Sorry!</h1>
    <p class="lead">We can not Process your <strong>payment</strong> right now</p>
    <hr>
    <p>
        Having trouble? <a href="">Contact us</a>
    </p>
    <p class="lead">
        <a class="btn btn-primary btn-sm" asp-page="../Index" role="button">Continue to homepage</a>
    </p>
</div>

