@page
@model StripePlanSubscriptions.Pages.Stripe.SuccessModel
@{
    ViewData["Title"] = "Success";
}

<div class="jumbotron text-xs-center">
    <h1 class="display-3">Thank You!</h1>
    <p class="lead">Your Payment is <strong>Successfully processed</strong></p>
    <hr>
    <p class="lead">
        <a class="btn btn-primary btn-sm" asp-page="../Index" role="button">Continue to homepage</a>
    </p>
</div>
